<div>
  <h5>User location details</h5>
    <p>Hello User,</p>
    <p>Your Site location is {{ city }} {{ country }} . </p>
    <p>And the current time for the location is :  <b> {{ time }} .</b> </p>
</div>
